.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.event-image {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 16px;
}

.event-details h3 {
    margin: 0;
    font-size: 18px;
}

.event-details p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #555;
}

.register-btn {
    padding: 8px 12px;
    background-color: rgb(89, 89, 244);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: rgb(64, 64, 221);
    ;
}