.event-card {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.event-image {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    object-fit: cover;

}

.event-details h3 {
    margin: 0;
    font-size: 18px;
}

.event-details p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #555;
}

.register-btn {
    padding: 5px 25px;
    background: linear-gradient(90deg, #4b6cb7, #182848);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: linear-gradient(to right, #007bff, #00c6ff);

}

.ended-badge {
    margin-top: 10px;
    padding: 8px 14px;
    background-color: #ddd;
    color: #888;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
}